# Dependências
vendor/
node_modules/

# Ambiente
.env

# Laravel
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

# Banco
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporários
temp/